# Ignore large raw data files
data/raw/*
!data/raw/.gitkeep

# Ignore processed data files
data/processed/*
!data/processed/.gitkeep

# Virtual environments
venv/
env/
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/
